<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <!--<div *ngIf="!onlyOdd">-->
        <!--<ul class="list-group">-->
          <!--<li-->
                  <!--class="list-group-item"-->
                  <!--[ngClass]="{odd: odd % 2 !== 0}"-->
                  <!--[ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'black'}"-->
                  <!--*ngFor="let odd of oddNumbers">-->
            <!--{{ odd }}-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<ng-template [ngIf]="onlyOdd">-->
        <!--<ul class="list-group">-->
          <!--<li-->
                  <!--[ngClass]="{odd: even % 2 !== 0}"-->
                  <!--class="list-group-item"-->
                  <!--*ngFor="let even of evenNumbers">-->
            <!--{{ even }}-->
          <!--</li>-->
        <!--</ul>-->
      <!--</ng-template>-->
      <!--<ng-template>-->
        <!--<div>-->

        <!--</div>-->
      <!--</ng-template>-->
      <div *appUnless="onlyOdd">
        <ul class="list-group">
          <li
                  class="list-group-item"
                  [ngClass]="{odd: odd % 1 == odd}"
                  [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'black'}"
                  *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </ul>
      </div>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">
          Value is 5
        </p>
        <p *ngSwitchCase="100">
          Value is 100
        </p>
        <p *ngSwitchCase="150">
          Value is 150
        </p>
        <p *ngSwitchDefault>
          Value is default
        </p>
      </div>
      <p appHighLight>Style me Bitch I want be greeeen yea.</p>
      <p appBetterHighlight="shit" [defaultColor]="'yellow'" [highlighColor]="'red'" >Style me Bitch I want be blue yea.</p>
    </div>
  </div>
</div>
